#footer {
    position: relative;
    float: left;
    bottom: 0;
    width: 100%;
    min-height: 500px;
    background-color: #333;
    color: #fff;
    user-select: none;
}

#footer .info {
    width: 40%;
    height: 330px;
    float: left;
    text-align: justify;
    padding: 20px 20px 20px 50px;
    position: relative;
}

#footer .info .banner {
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

#footer .info p {
    font-size: 15px;
    line-height: 1.5;
}

#footer .contact {
    position: absolute;
    width: 100% auto;
    bottom: 20px;
    text-align: left;
    font-size: 18px;
    user-select: text;
}

#footer .contact .mobile {
    margin-bottom: 15px;
}

#footer .contact i {
    margin-right: 8px;
}

#footer .links {
    float: left;
    width: 30%;
    height: 330px;
    padding: 20px;
}

#footer .links .a {
    display: flex;
    justify-content: center;
    margin: 8px;
}

#footer .links a {
    color: #eee;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
}

#footer .links i {
    margin-right: 8px;
}

#footer .links a:hover {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
}

#footer .association {
    width: 30%;
    height: 330px;
    float: left;
    padding: 20px;
    user-select: none;
}

#footer .association p,
#footer .links p {
    font-family: Arial;
    font-size: 18px;
    text-align: center;
    color: #fff;
    margin-bottom: 18px;
}

#footer .association .banner {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    user-select: none;
}

#footer .association .banner .logo {
    width: 130px;
    height: 50px;
    border-radius: 4px;
    background-color: #fff;
}

#footer .security,
#footer .payment {
    width: 30%;
    margin: 0 auto;
    float: left;
    padding: 20px;
    margin-bottom: 10px;
}

#footer .social {
    width: 40%;
    margin: 0 auto;
    float: left;
    margin-bottom: 10px;
    padding: 20px;
    padding-left: 50px;
}

#footer .payment {
    padding-right: 50px;
}

#footer .security .p,
#footer .payment .p,
#footer .social .p {
    width: 100%;
}

#footer .security p,
#footer .payment p,
#footer .social p {
    font-family: Arial;
    font-size: 18px;
    color: #fff;
    margin-bottom: 18px;
}

#footer .security .logos,
#footer .payment .logos {
    display: flex;
    margin-bottom: 15px;
}

#footer .security .logos .logo,
#footer .payment .logos .logo {
    width: 100px;
    height: 50px;
    border-radius: 4px;
    background-color: #fff;
    margin-right: 15px;
}


/*Social Media Buton With Hover Effect*/

#footer .social .container {
    display: flex;
    flex-wrap: wrap;
    place-items: center;
    position: relative;
}

#footer .social .container .icon {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
}

#footer .social .container .icon .btn {
    display: flex;
    width: 70px;
    height: 70px;
    justify-content: center;
    align-items: center;
    background: #f1f1f1;
    border-radius: 30%;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}

#footer .social .container .icon .text {
    font-size: 16px;
    font-weight: 600;
    margin-top: 7px;
    font-family: Sans-Serif;
    opacity: 1;
    z-index: 1;
    transition: margin-top .4s, opacity .4s, z-index .4s;
}

#footer .social .container .icon .btn i {
    line-height: 90px;
    font-size: 28px;
    transition: 0.2s linear;
}

#footer .social .container .icon .btn:hover i {
    transform: scale(1.3);
    color: #f1f1f1;
}

#footer .social .container .icon .btn::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #3498db;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}

#footer .social .container .icon .btn:hover::before {
    animation: ani 0.7s 1;
    top: -10%;
    left: -10%;
}

@keyframes ani {
    0% {
        left: -110%;
        top: 90%;
    }
    50% {
        left: 10%;
        top: -30%;
    }
    100% {
        top: -10%;
        left: -10%;
    }
}

.fb,
.fb .btn {
    color: #4867aa;
}

.twitter,
.twitter .btn {
    color: #1da1f2;
}

.insta,
.insta .btn {
    color: #e1306c;
}

.yt,
.yt .btn {
    color: #ff0000;
}

#footer .copyright {
    width: 100%;
    float: left;
    color: #fff;
    font-size: 14px;
    padding: 10px 50px;
    line-height: 2;
}

/*-------------Tablet-------------*/

@media (min-width: 600px) and (max-width: 950px) {
    #footer {
        display: block;
    }
    #footer hr {
        display: none;
    }
    #footer .info {
        width: 40%;
        padding: 20px 20px 20px 50px;
    }
    #footer .links {
        width: 60%;
        padding: 20px 50px 20px 20px;
    }
    #footer .association {
        width: 50%;
        height: 270px;
        padding: 20px 20px 20px 50px;
    }
    #footer .association .row {
        display: flex;
        margin-bottom: 15px;
    }
    #footer .association .row .banner {
        margin: 0 auto;
    }
    #footer .social {
        width: 50%;
        height: 270px;
        margin: 0;
        padding: 20px 50px 20px 20px;
    }
    #footer .security {
        width: 50%;
        padding: 20px 20px 20px 50px;
    }
    #footer .payment {
        width: 50%;
        padding: 20px 50px 20px 20px;
    }
    #footer .security p,
    #footer .payment p {
        text-align: center;
    }
    #footer .security .logos .logo,
    #footer .payment .logos .logo {
        margin: 0 auto;
    }
    #footer .copyright {
        padding: 0 50px;
    }
}

/*-------------Mobile-------------*/

@media (max-width: 600px) {
    #footer {
        display: block;
        background-color: #100000;
    }
    #footer hr {
        display: none;
    }
    #footer .info {
        width: 100%;
        height: 220px;
        padding: 5px 15px;
    }
    #footer .info .contact {
        bottom: 10px;
    }
    #footer .links {
        width: 100%;
        height: auto;
        padding: 5px 15px;
    }
    #footer .links p,
    #footer .association p,
    #footer .social p,
    #footer .security p,
    #footer .payment p {
        font-size: 16px;
        text-align: left;
        margin-bottom: 8px;
        border-bottom: 1px solid #777;
    }
    #footer .links .a {
        margin: 0;
    }
    #footer .links a {
        font-size: 13px;
    }
    #footer .association {
        width: 100%;
        height: auto;
        padding: 5px 15px;
    }
    #footer .association .row {
        display: flex;
        margin-bottom: 12px;
    }
    #footer .association .row .banner {
        margin: 0 auto;
    }
    #footer .social {
        width: 100%;
        height: auto;
        padding: 5px 15px;
    }
    #footer .social .container .icon .btn {
        width: 60px;
        height: 60px;
    }
    #footer .social .container .icon .text {
        font-family: Georgia;
        font-size: 14px;
    }
    #footer .security,
    #footer .payment {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 5px 15px;
    }
    #footer .security .logos,
    #footer .payment .logos {
        margin-bottom: 12px;
    }
    #footer .security .logos .logo,
    #footer .payment .logos .logo {
        margin: 0 auto;
    }
    #footer .copyright {
        line-height: 1.5;
        padding: 5px 15px;
    }
}