* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sans-Serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    user-select: none;
}

#body {
    width: 100%;
    padding: 5px 50px;
}

#body .status {
    width: 100%;
    padding: 5px 5px;
    background: #ccc;
    position: relative;
}

#lblInfo {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 13px;
}

#content {
    position: relative;
    width: 100%;
    min-height: 400px;
    margin: 5px auto 30px;
    padding: 4px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, .3);
}

.intro {
    width: 90%;
    margin: 20px auto 10px;
    padding: 5px 15px;
    background-color: #eee;
    border: 1px dashed #555;
    border-radius: 4px;
}

.intro ul {
    margin: 10px 0 10px 15px;
}

.intro ul li {
    font-size: 15px;
    margin: 12px 0;
}

.gvContainer {
    width: 90%;
    margin: 0 auto 20px;
    overflow: auto;
    max-height: 300px;
}

.gv {
    border-color: #ccc;
    width: 100%;
    text-align: center;
    user-select: text;
}

.gv .gvheader {
    min-width: 140px;
    background-color: #4caf50;
    color: #fff;
    padding: 10px 5px;
    position: sticky;
    top: -1px;
}

.gv .gvitem {
    max-width: 200px;
    font-size: 14px;
    padding: 6px 10px;
    overflow: hidden;
    cursor: default;
}

.gv .error {
    padding: 8px 10px;
    background-color: #FF9999;
}


/*-------------Mobile-------------*/

@media (max-width: 600px) {
    .intro {
        width: 100%;
        margin: 0 auto 5px;
        padding: 10px 15px 0;
    }
    .intro ul {
        margin: 0 0 0 15px;
    }
    .intro ul li {
        font-size: 14px;
        margin: 0 0 10px 0;
    }
    .gvContainer {
        width: 100%;
        min-height: auto;
        max-height: 300px;
        margin: 0 auto 20px;
    }
    .gv .gvheader {
        min-width: 100px;
        padding: 5px 5px;
    }
    .gv .gvitem {
        max-width: 200px;
        padding: 3px 5px;
    }
    .gv .gvaction {
        min-width: 210px;
    }
    .gv .gvbtn {
        padding: 5px 10px;
    }
}